<?xml version="1.0" encoding="UTF-8"?>
<web-app >
	<servlet>
		<servlet-name>Palindrome</servlet-name>
		<servlet-class>Palindrome</servlet-class>
		<init-param>
			<param-name> username </param-name>
			<param-value> Muneeb </param-value>
		</init-param>
		<init-param>
			<param-name> password </param-name>
			<param-value> 123 </param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Palindrome</servlet-name>
		<url-pattern>/palindrome</url-pattern>
	</servlet-mapping>
</web-app>